@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  background-image: url(../images/todo.jpg);
  font-family: "微软雅黑"；;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 510px) {
  html {
    font-size: 68px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

@font-face {
  font-family: 'iconfont';
  /* project id："172799" */
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont";
}

/*header*/
.header {
  width: 100%;
  height: 1rem;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.header span.iconfont {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  margin: auto;
  left: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 28px;
}

.header input.input {
  display: inline-block;
  width: 86%;
  height: 0.8rem;
  outline: none;
  border: none;
  padding-left: 0.3rem;
  font-size: 0.5rem;
  margin: 0.1rem 0.1rem 0rem 0.9rem;
}

.header .add {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: #02E6B5;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  margin: auto;
  right: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 28px;
}

/*上侧nav*/
.nav {
  height: 0.99rem;
  background: red;
  margin: 0.1rem auto;
  line-height: 0.99rem;
}

.nav:after {
  content: "";
  display: block;
  clear: both;
}

.nav span.iconfont {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  float: left;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0rem 0.62rem;
  text-align: center;
}

/*content*/
#ul {
  width: 95%;
  margin: 0px auto;
}

#ul:after {
  content: "";
  display: block;
  clear: both;
}

#ul li .done .content {
  border-radius: 10%;
  text-decoration: line-through;
  color: #FF0000;
}

#ul li .done .delete {
  color: #02E6B5;
}

#ul li .content {
  float: left;
  width: 46%;
  height: 1rem;
  background: #02E6B5;
  padding: 0.1rem;
  margin: 0.1rem 0rem 0.1rem 0.26rem;
  position: relative;
}

#ul li .delete {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  margin: auto;
  top: -0.5rem;
  right: 0.1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 0.3rem;
}

/*footer*/
.footer {
  width: 90%;
  margin: 0.1rem 0.15rem 0rem 0.33rem;
  position: fixed;
  *position: absolute;
  bottom: 0.15rem;
  text-align: center;
  background: #02E6B5;
  border-radius: 0.5rem;
}

.footer div {
  width: 45.333%;
  height: 0.88rem;
  text-align: center;
  line-height: 0.88rem;
  float: left;
  cursor: pointer;
  border-radius: 0.8rem;
}

.footer div:nth-child(1) {
  margin: 0rem 0.3rem 0rem 0rem;
}

.footer div:nth-child(2) {
  margin: 0rem 0rem 0rem 0.33rem;
}

.footer div.complete {
  border-right: 0.01rem solid #ccc;
  border-left: 0.01rem solid #ccc;
}

.footer div.active {
  background: #fff;
  color: #FF0000;
}

.footer div:nth-child(1).active {
  background: #fff;
}

.clearall {
  height: 0.8rem;
  line-height: 0.8rem;
  margin: 0.2rem 0.15rem 0rem 5rem;
  font-size: 16px;
}

.dong1 {
  animation: active1  0.8s ease-in-out both;
}

@keyframes active1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}
