@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  background: #dfdfdf;
  font-family: "微软雅黑"；;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 510px) {
  html {
    font-size: 68px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

/*header*/
.header {
  width: 100%;
  height: 0.8rem;
  position: relative;
  border: 1px solid #ccc;
}

.header input.input {
  display: inline-block;
  width: 98%;
  height: 0.6rem;
  outline: none;
  border: none;
  padding-left: 0.1rem;
  margin: 0.1rem 0.1rem 0rem 0.05rem;
}

.header .add {
  width: 0.5rem;
  height: 0.5rem;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  margin: auto;
  right: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 28px;
}

/*footer*/
.footer {
  width: 98%;
  margin: 0.1rem 0.1rem 0rem 0.05rem;
  position: fixed;
  *position: absolute;
  bottom: 0.05rem;
  border-radius: 0.5rem;
}

.footer div {
  width: 33.333%;
  height: 0.99rem;
  text-align: center;
  line-height: 0.99rem;
  background: #fff;
  float: left;
  cursor: pointer;
}

.footer div.completed {
  border-right: 0.01rem solid #ccc;
  border-left: 0.01rem solid #ccc;
}

.footer div.active {
  color: #FF0000;
}
