*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
ul li{
    list-style:none;
}
$d-list:320px,360px,375px,384px,412px,414px,510px,600px,640px,768px,800px,1600px,1440px;
html{
    font-size:100px;
}
body{
    font-size:16px;
    background-image:url(../images/todo.jpg);
    font-family:"微软雅黑"；
}
$design-size:750px;
@each $w in $d-list{
    @media screen and (min-width:#{$w}) {
        html{
            font-size:100px * $w / $design-size;
        }
    }
}
@mixin top-bottom{
    position:absolute;
    top:0rem;
    bottom:0rem;
    margin:auto;
}
@font-face {
  font-family: 'iconfont';  /* project id："172799" */
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
}
/*header*/
.header{
    width:100%;
    height:1rem;
    position:relative;
    border-bottom:1px solid #ccc;
    span.iconfont{
        display:inline-block;
        width:0.5rem;
        height:0.5rem;
        border-radius:50%;
        @include top-bottom;
        left:0.3rem;
        color:#fff;
        text-align:center;
        line-height:0.5rem;
        font-size:28px;
    }
    input.input{
        display:inline-block;
        width:86%;
        height:0.8rem;
        outline:none;
        border:none;
        padding-left:0.3rem;
        font-size:0.5rem;
        margin:0.1rem 0.1rem 0rem 0.9rem;
    }
    .add{
        display:inline-block;
        width:0.5rem;
        height:0.5rem;
        background:#02E6B5;
        border-radius:50%;
        @include top-bottom;
        right:0.3rem;
        color:#fff;
        text-align:center;
        line-height:0.5rem;
        font-size:28px;
    }
}
/*content*/
#ul{
    width:95%;
    margin:0px auto;
    &:after{
        content:"";
        display:block;
        clear:both;
    }
    
    li .done .content{
        text-decoration:line-through;
        color:#FF0000;
    }
    li .done .delete{
        color:#02E6B5;
    }
    li .content{
        float:left;
        width:46%;
        height:1rem;
        background:#02E6B5;
        padding:0.1rem;
        margin:0.1rem 0rem 0.1rem 0.26rem;
        position:relative;
    }
    li .delete{
        width:0.3rem;
        height:0.3rem;
        @include top-bottom;
        top:-0.5rem;
        right:0.1rem;
        border-radius:50%;
        text-align:center;
        line-height:0.3rem;
    }
}
/*footer*/
.footer{
    width:90%;
    margin:0.1rem 0.15rem 0rem 0.33rem;
    position:fixed;
    *position:absolute;
    bottom:0.15rem;
    text-align:center;
    background:#02E6B5;
    border-radius:0.5rem;
    div{
        width:45.333%;
        height:0.88rem;
        text-align:center;
        line-height:0.88rem;
//      background:#fff;
        float:left;
        cursor:pointer;
        border-radius:0.8rem;
    }
    div:nth-child(1){
        margin:0rem 0.3rem 0rem 0rem; 
    }
    div:nth-child(2){
        margin:0rem 0rem 0rem 0.33rem;
    }
    div.complete{
        border-right:0.01rem solid #ccc;
        border-left:0.01rem solid #ccc;
    }
    div.active{
        background:#fff;
        color:#FF0000;
    }
    div:nth-child(1).active{
        background:#fff;
    }
}

.clearall{
    height: 0.8rem;
    line-height: 0.8rem;
    margin:0.2rem 0.15rem 0rem 5rem;
    font-size: 16px;
}
.dong1{
    animation: active1  0.8s ease-in-out both;
}
@keyframes active1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(150%);
    }
}

